/* Home */
#card1 {
    margin-top: 100px;
 }

.landing-card{
    margin-top: -300px;
}
title{ 
font-size: 48px;
}
.disclaimer {
    background-color: #e6e6e6;
    border-radius: 10px; 
    margin: 5px;
}
#disclaimerP{
    color:red;   
    margin: 5px;
   
}
#session-begin {
    margin-bottom: 25px;
}

#ses-link{
    color:white !important;
}
a:-webkit-any-link:hover {
    color:#b25a00;
    background: #32849f;
   
}

#name{
    color: blue;
}