/* Signin */
body{
    background-color: #32849f;
    opacity: 50%;   
}
.landing-card{
    margin-top: -300px;
}

#card1 {
  
    background-color: #b25a00;
    color:#e6e6e6;
    font-family: "Londrina Solid",cursive;
    border-radius: 20px; 
   
    
}


  

button {
    font-size: 24px;
    font-family: 'Londrina Solid', cursive; 
}


