/* body {
    background-image: url("foot-print-full.jpg");
} */
/* body {
    background-color: black;
} */
.signInCont {
    background-image: url('foot-print-full.jpg');
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    height: 500px;
    padding-top: 50px;
}