
body{
    background-color: #32849f;
    opacity: 50%;
   
}

#card1 {
    /* font-family: 'Barrio', cursive; */
    /* font-size: 64px; */
/* font-family: 'Bigelow Rules', cursive; */
font-family: 'Freckle Face', cursive;
    text-align: center;
    /* margin-top: 20%; */
    background-color: #b25a00;
    color:white;
    
    
}

#hero {
    font-size: 64px;
    /* font-family: 'Bigelow Rules', cursive; */
    font-family: 'Freckle Face', cursive;
        text-align: center;
}   

button {
    font-size: 24px;
    font-family: 'Freckle Face', cursive; 
}
.card-panel{
    /* background-image: url("../../Images/foot-print-full.jpg"); */
    background-color: yellow;
}

