/* LeftFoot */
#left-single{
    height: 660px;
    width: 410px;
    border: 2px;
    border-radius: 20px;
}
#left-img{
   margin-top: 10%;
}

  #cursor{
    width: 50px;
    height: 50px;
    border-radius:20px;
    background-image: -webkit-radial-gradient(white,blue);
    position: absolute;
    animation:  counterwise  10s linear 10 forwards,
                upwise 5s 100s linear 10 forwards;       
               
}  


#cursor1 {
    width: 50px;
    height: 50px;
    border-radius:20px;
    background-image:-webkit-radial-gradient(red,black);
    position: absolute;
    animation:counterwise 10s linear 10 forwards,
               downwise 10s   linear 10 forwards,
                downwise2 10s 20s linear 10 forwards;        
}



 /**
 * ----------------------------------------
 * animation 
 * ----------------------------------------
 */
 @keyframes clockwise {
     
    0%   {top: 100px; left: 0px;background-image: limegreen;}
    25%  {top: 100px; left: 100px; }
    50%  {top: 150px; left: 100px;}
    75%  {top: 150px; left: 0px; }
    100% {top: 0px; left: 0px;}

} 
 @keyframes counterwise {
    0%   {top: 200px; left: 200px; }
    15%  {top: 250px; left: 250px;}
    25%  {top: 300px; left: 250px; }
    50%  {top: 350px; left: 250px;}
    75%  {top: 400px; left: 200px;}
    100% {top: 550px; left: 200px;}

} 
@keyframes upwise{
    0%   {top: 200px; left: 0px; }
    25%  {bottom: 100px; left:100px; }
    50%  {top: 100px;left:100px; }
    75%  {top: 0px; }
    100% {top: 0px; }

} 
@keyframes downwise{
    0%{
        background-color: navy;
        -webkit-transform: translateY(500px);
        -webkit-transform: translateX(100px);
        
    }
    50% {
        -webkit-transform: translateX(100px);
        /* -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -o-transform: translateX(300px);
        transform: translateX(300px); */
      }
      100% {
        -webkit-transform: translateX(100px);
        /* -moz-transform: translateX(300px) translateY(300px);
        -ms-transform: translateX(300px) translateY(300px);
        -o-transform: translateX(300px) translateY(300px);
        transform: translateX(300px) translateY(300px); */
        
      }
      
    /* 0%   {top:230px;left: 0px; background:yellow; }
    25%  {top: 250px;left: 50px; background:grey; }
    50%  {bottom: 300px;left: 100px; background:purple;}
    75%  {top: 350px; left:150px; background:magenta;}
    100% {top: 400px;left: 200px; background:white;} */

} 
@keyframes downwise2 {
    0%{
        top:200px; left: 100px;
        background-color:magenta;
    }
    50% {
        -webkit-transform: translateX(200px);
        -webkit-transform: translateY(200px)
       
    }
    100% {
        -webkit-transform: translateX(200px) translateY(200px);
        } 
}   
