#hero {
    font-size: 64px;
    /* font-family: 'Bigelow Rules', cursive; */
    font-family: 'Londrina Solid', cursive;
        text-align: center;
        background-color: #32849f;
        border-radius: 20px;
} 
#hero-panel {
    background-color: #b25a00;
    color:#e6e6e6;    
    font-family: 'Londrina Solid', cursive;
    text-align: center; 
    border-radius: 20px;  
}

